<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/website/static/css/identificacion.css">
    <link rel="stylesheet" href="/website/static/css/header-footer.css">
    <link rel="stylesheet" href="/website/static/css/shopping-steps.css">
    <link rel="stylesheet" href="/website/static/css/summary-table.css">

    <style>
        .step-entrega{
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="page-wrap">
        <special-header></special-header>

    <div class="product-padre">
        
        <shopping-steps></shopping-steps>
        <br>
        <div id="payment-body-cont" class="body-cont">
            <div class="confirming-shopping-steps">

                <div class="cart-steps-table">
                    <p><span class="shopping-confirm-number">1.</span> <span class="shopping-confirm-title">Identificación</span></p>
                </div>

                <br>

                <div class="cart-steps-table">
                    <p><span class="shopping-confirm-number">2.</span> <span class="shopping-confirm-title">Envío</span></p>
                    <br>
                    <div class="shipment-buttons">
                        <button class="ship">
                            Enviar
                            <br>
                            <span class="shipment-button-text">a la dirección</span>
                        </button>
                        <button class="pickup">
                            Retiro
                            <br>
                            <span class="shipment-button-text">en local</span>
                        </button>
                    </div>
                    <br><br>
                    <label>Dirección:</label>
                    <br>
                    <div class="input-cont">
                        <input type="text" placeholder="Ej.: Av. del Libertador 1473, Buenos Aires">
                    </div>
                    <br>
                    <div class="cart-confirm-button">
                        <a href="./payment.html">
                            <button type="submit">CONTINUAR</button>
                        </a>
                    </div>

                </div>

                <br>

                <div class="cart-steps-table">
                    <p><span class="shopping-confirm-number">3.</span> <span class="shopping-confirm-title">Pago</span></p>
                </div>
            </div>

                <payment-summary-table></payment-summary-table>
            
        </div>
    </div>
    
    <special-footer></special-footer>
</div>


<script src="/website/static/js/header-footer.js"></script>
<script src="/website/static/js/shopping-steps.js"></script>
<script src="/website/static/js/summary-table.js"></script>
</body>
</html>