*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* special-header{
    position: relative !important;
} */

body{
    background-color: #f0f0f0;
    
}

.main-wrapper{
    padding: 20px;
    display: flex;
    flex-grow: 1;
    /* flex-wrap: wrap; */
}

.main-wrapper aside{
    flex-grow: 1;
    background-color: #fff;
}

.questions-nav li{
    list-style: none;
    padding: 10px;
}

#nav a{
    text-decoration: none;
    color: black;
}

#nav a:hover{
    border-bottom: 2px #333 solid ;
}

.questions-nav{
    min-width: 16rem;
    flex-flow: column;
    padding: 20px;
}

#main{
    padding: 20px;
    background-color: #fff;
    margin: 0px 20px;
}

h1{
    margin-top: 0;
}

h2{
    margin-top: 0;
}

.secondary-content{
    padding: 20px;
    min-width: 5rem;
}

@media screen and (max-width: 700px){
    .secondary-content{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .secondary-content{
        display: none;
    }
    .main-wrapper{
        flex-direction: column;
    }
    .questions-nav, .questions-nav ul{
        text-align: center;
        align-items: center;
        padding: 0;
    }

    #main{
        margin: 20px 0px;
    }

}